{% extends 'base.html.twig' %}

{% block title %}Редактировать категорию{% endblock %}

{% block body %}
    <h1>Редактировать категорию</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Обновить'}) }}

{% endblock %}
