{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Категории</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название категории</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i> Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Не найдено записей!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-bookwoorm" href="{{ path('category_new') }}" role="button"><i class="fas fa-plus"></i> Добавить катерогию</a>
</div>

{% endblock %}
