{% extends 'base.html.twig' %}

{% block title %}Новая категория{% endblock %}

{% block body %}
    <h1>Новая категория</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Вернуться к списку</a>
{% endblock %}
