{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block body %}
<div class="container">
    <div class="row mx-auto shadow-sm p-3 bg-white rounded">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Форма обратной связи</h1>

            {{ form(form) }}

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
